.Group_item {
  width: 960px;
  height: auto;
  background-color: #f4f5f6;
  margin: auto;
  margin-top: -36px;
  padding-left: 20px;
}
.Group_Name{
  width: 324px;
  height: 50px;
  margin-top: 80px;
  font-family: Ledger;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #212121;
  margin-bottom: 40px;
}

.One_Main{
  display: flex;
  flex-direction: row;
  margin-top: -45px;
}
.Rectangle_One {
  width: 540px;
  height: 127px;
  margin: 40px 20px 20px 0;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 #bcc1c8;
  background-color: #ffffff;
}
.self_improvement_black_48dp, .group_black_48dp, .school_black_48dp  {
  width: 77px;
  height: 77px;
  margin: 0 30px 0 0;
  object-fit: contain;
  margin:25px 30px;
}
.Path {
  width: 46px;
  height: 31px;
}
.teacher{
  width: 204px;
  margin-left: 137px;
}
.teacher_p{
  width: 153px;
  height: 22px;
  margin: 5px 180px 20px 30px;
  font-family: AvenirNextCyr;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #40464f;
}
.teacher_name{
  width: 300px;
  height: 25px;
  margin: 20px 129px 5px 30px;
  font-family: AvenirNextCyr;
  font-size: 21px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #25282d;
}
.expand_more_white_48dp {
  width: 40px;
  height: 40px;
  object-fit: contain;
  transform: rotate(360deg);
  cursor: pointer;
  margin-left: 10px;
  margin-top: -5px;
}
.expand_more_white_48dp2 {
  width: 40px;
  height: 40px;
  object-fit: contain;
  transform: rotate(360deg);
  cursor: pointer;
  margin-left: 10px;
  margin-top: -5px;
}
.expand_more_white_48dp1 {
  width: 40px;
  height: 40px;
  object-fit: contain;
  transform: rotate(360deg);
  cursor: pointer;
  margin-left: -40px;
  margin-bottom: -10px;
  
}
.icon{
  width: 20px;
  height: 12px;
  margin: -60px 100px 18px 470px;
}
.Rectangle_Two {
  width: 540px;
  height: 127px;
  margin: 20px 20px 20px 0;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 #bcc1c8;
  background-color: #ffffff;
}
.student{
  width: 123px;
  margin-left: 137px;
}
.students{
  width: 123px;
  height: 22px;
  margin: 5px 0 20px 30px;
  font-family: AvenirNextCyr;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #40464f;
}
.students_num{
  width: 25px;
  height: 25px;
  margin: 20px 98px 5px 30px;
  font-family: AvenirNextCyr;
  font-size: 21px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #25282d;
}
.Rectangle_Three{
  width: 540px;
  height: 127px;
  margin: 20px 20px 20px 0;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 #bcc1c8;
  background-color: #ffffff;
}
.profile{
  width: 540px;
  margin-left: 137px;
}
.profile_course{
  width: 257px;
  height: 22px;
  margin: 5px 0 20px 30px;
  font-family: AvenirNextCyr;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #40464f;
}
.profile_name{
  width: 270px;
  height: 25px;
  margin: 20px 37px 5px 30px;
  font-family: AvenirNextCyr;
  font-size: 21px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #25282d;
}

.Rectangle_Four {
  width: 540px;
  height: 197px;
  margin: 20px 20px 80px 0;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 #bcc1c8;
  background-color: #ffffff;
}
.subject{
  width:335px;
  margin-left: 137px;
  display: flex;
  flex-wrap: wrap;
}
.subject_education{
  width: 335px;
  height: 22px;
  margin: 0 0 8px 26px;
  font-family: AvenirNextCyr;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #40464f;
}
.subject_name{
  width: 380px;
  height: 25px;
  margin: 10px 227px 10px 26px;
  font-family: AvenirNextCyr;
  font-size: 21px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #25282d;
  word-wrap:  break-word ;
  
}
.li{
  list-style-type: none;
  padding-bottom: 10px;
  width:208px;
  height: 25px;
}
.text_snippet_black_48dp  {
  width: 77px;
  height: 77px;
  margin: 8px 30px 5px 0;
  object-fit: contain;
  margin:60px 30px;
}
.Pic_group_item {
  width: 380px;
  height: 257px;
  margin-top: 261px;
  margin-left: 20px;
  object-fit: contain;
}
.Two_Main{
  background-color: #f4f5f6;
}
.pupil{
  width: 86px;
  height: 50px;
  margin: 0 854px 40px 0;
  font-family: Ledger;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #212121;
}
.search{
  width: 960px;
  height: 50px;
  margin: 40px 0;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 #bcc1c8;
  background-color: #ffffff;
}
.search_icon{
  width: 23px;
  height: 23px;
}
.search_white_48dp {
  width: 32px;
  height: 32px;
  margin: 9px 20px 9px 20px;
  object-fit: contain;
  cursor: pointer;
}
.search_input_div{
  width: 70px;
  height: 20px;
  margin: -10px 20px 9px 72px;
}
.search_input{
  width: 667px;
  height: 20px;
  font-family: AvenirNextCyr;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #bcc1c8;
  border: 1px solid #ffffff;
}
.Three_Main{
  display: flex;
  flex-direction: column;
  width: 960px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 #bcc1c8;
  margin-bottom: 80px;
}
.fio{
  width: 920px;
  height: 62px;
  padding-left:  40px;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  border-radius: 5px 5px 0 0 ;
  border-bottom: 1px solid #bcc1c8;
}
.foto{
  width: 46px;
  height: 22px;
  margin: 20px 124px 20px 10px;
  font-family: AvenirNextCyr;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #25282d;
}
.pib{
  width: 30px;
  height: 22px;
  margin: 20px 0 20px 0px;
  font-family: AvenirNextCyr;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #25282d;
}

.student_information{
  width: 960px;
  height: 62px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border-bottom: 1px solid #bcc1c8;
}
.student_information1{
  width: 960px;
  height: 62px;
  background-color: #ffffff;
  display: none;
  border-radius: 0 0 5px 5px;
}
.student_information:hover{
  width: 955px;
  height: 62px;  
  background-color: #f4f5f6;
  display: flex;
  flex-direction: row;
  border-left: 5px solid #e8b32e;
}
.student_information:hover .Avatar{
  margin: 7px 40px 0 39px;
}
.expand_more_white_48dp1{
  margin: 10px 20px 0 0;
}
.student_information:last-child{
  border-radius: 0 0 5px 5px;
}
.Avatar {
  width: 48px;
  height: 48px;
  margin: 7px 40px 0 44px;
}
.pib_student{
  width: 450px;
  height: 22px;
  padding-right: 100px;
  margin: 19px 300px 13px 88px;
  font-family: AvenirNextCyr;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #25282d;
}
.icon_student{
  width: 20px;
  height: 12px;
  margin: 10px 0px 18px 10px;
}
body{
  background-color:#f4f5f6;
}
.hidden{
  display: none;
}
.log{
  width: 166px;
  height: 22px;
  margin: 19px 387px 0;
  font-family: AvenirNextCyr;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5c6470;
}
.main{
  width: 960px;
  height: auto;
}
.student_information1{
  width: 960px;
  height: 62px;
  background-color: #ffffff;
  display: none;
}
/*сортировка*/
#sortByNameBtn{
  width: 200px;
  height: 22px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  cursor: pointer;
  margin: 20px 0 0 500px;

}
.group{
  display: flex;
  flex-direction: column;
}
.button_sort{
  font-family: AvenirNextCyr-Regular;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5c6470;
}
.button_type{
  font-family: AvenirNextCyr-Regular;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #25282d;
}
