body{
  background-color: #f4f5f6;
  
}
a{
    color: #e8b32e;
    text-decoration: none;
}
.zaggr{
  font-size: 36px;
  margin-top: 80px;
  margin-bottom: 40px;
  margin-left: -844px;
  font-family: Ledger;
}
.inpgr{
  border: none;
  width: 868px;
  height: 50px;
  padding-left: 20px;
  margin-bottom: 51px;
  background-image: url(IMG/logo.png) no-repeat;
}
.inpgrkn{
  background: url(IMG/search-white-48-dp.svg) no-repeat 50% 50%;
  height: 32px;
  width: 42px;
  border: none;
  display: inline-block;
  margin-top: 9px; 
}
.inpgrkn:hover{
  cursor:pointer;
}
.divinpgr{
  width: 958px;
  height:52px;
  box-shadow: 0 1px 2px 0 #bcc1c8;
}
.parselgr{
  width: 244px;
  height: 18px;
  margin: 13px 67px 1px 0;
  font-family: AvenirNextCyr;
  font-size: 14px;
  color: #5c6470;
  float: right;
}
.select{
  float: right;
  width: 130px;
  height: 20px;
  margin: 12px -280px 0 0;
  position: relative;
  background:  url(IMG/arrow-drop-down-white-48-dp.svg) no-repeat right;
  background-size: 10px;
  display: flex;
  flex-direction: row;
  z-index: 1;
} 
.fa-caret-down{
  z-index: 1;
  cursor: pointer;
  color: #bcc1c8;
}
.selgr{
  border: 1px solid #ffffff; 
  -webkit-appearance: none;
  appearance: none;
  width: 130px; 
  padding: 0 10px 0 0;
  text-indent: 0.01px; 
  margin-bottom: 3px; 
  color: #25282d;
  margin-left: 20px;
  cursor: pointer;
  z-index: 1000;
  font-family: AvenirNextCyr;
}
.divselgr{
  width: 958px;
  height: 40px;
  background-color: #ffffff;
  margin-top: 40px;
  border-bottom: 1px solid #bcc1c8;
  margin-left: -10px;
}
.divgrtabl1{
  width: 958px;
  height: 62px;
  border-bottom: 1px solid #bcc1c8;
  background-color: #ffffff;
  margin-left: -10px;
}
.divgrtabl{
  width: 958px;
  height: 62px;
  border-bottom: 1px solid #bcc1c8;
  margin-left: -10px;
  background-color: #ffffff;
}
.divgrtabl:hover{
  background-color: #f4f5f6;
  cursor: pointer;
  width: 958px;
  height: 62px;
}
.divgrtabl:hover .polos {
  width: 5px;
  height: 64px;
  background-color: #e8b32e;
  display: inline-block;
}
.pargr1{
  float: left;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 40px;
  font-family: AvenirNextCyr;
  font-weight: bold;
}
.pargr2{
  float: left;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 175px;
  margin-right: 116px;
  font-weight: bold;
}
.pargr3{
  float: left;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 116px;
  font-weight: bold; 
}
.imggr{
  float: right;
  margin-top: 10px;
}
.imggr:hover{
  cursor: pointer;
}
.pargr4{
  float: left;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 63px;
  width: 40px;
}
.pargr5{
  float: left;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 165px;
  width: 300px;
  height: 22px;
  text-align: left;
}
.pargr6{
  width: 21px;
  height: 22px;
  float: left;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left:100px; 
  text-align: left;

}
.pargr6:nth-child(1){
  width: 21px;
  height: 22px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 80px; 

}
.polos{
  width: 5px;
  height: 64px;
  background-color: #ffffff;
  display: none;
  margin-left: -2005px;
  margin-top: -1px; 
}
.pargrgl{
  text-align: center;
}
.search{
  width: 964px;
  height: 50px;
  margin: 40px 0 0 0px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 #bcc1c8;
  background-color: #ffffff;
}
.search_icon{
  width: 23px;
  height: 23px;
}
.search_white_48dp {
  width: 32px;
  height: 32px;
  margin: 9px 20px 9px -880px;
  object-fit: contain;
  cursor: pointer;
}
.search_input_div{
  width: 70px;
  height: 20px;
  margin: -10px 20px 9px -750px;
}
.search_input{
  width: 667px;
  height: 20px;
  font-family: AvenirNextCyr;
  font-size: 16px;
  color: #bcc1c8;
  border: 1px solid #ffffff;
}
.divgrtablgl{
  width: 958px;
  height: 412px;
  border-radius: 5px;
  background-color: #ffffff;
}
