body{
    background-color: #f4f5f6;
  }
  a{
      color: #e8b32e;
      text-decoration: none;
  }
  .zaguch{
    font-size: 36px;
    margin-top: 80px;
    margin-bottom: 40px;
    margin-left: -810px;
  }
  .inpgr{
    border: none;
    width: 868px;
    height: 50px;
    padding-left: 20px;
    margin-bottom: 51px;
    background-image: url(IMG/logo.png) no-repeat;
  }
  .inpgrkn{
    background: url(IMG/search-white-48-dp.svg) no-repeat 50% 50%;
    height: 32px;
    width: 42px;
    border: none;
    display: inline-block;
    margin-top: 9px; 
  }
  .inpgrkn:hover{
    cursor:pointer;
  }
  .divinpgr{
    width: 940px;
    height:52px;
    box-shadow: 0 1px 2px 0 #bcc1c8;
  }
  .parselgr{
    width: 204px;
    height: 18px;
    margin: 1px 20px 1px 0;
    font-family: AvenirNextCyr;
    font-size: 14px;
    color: #5c6470;
    float: right;
    margin-top: 11px;
    margin-right: -15px;
  }
  .selgr{
    border: 0 !important; 
    -webkit-appearance: none;
    -moz-appearance: none; 
    background: url(IMG/arrow-drop-down-white-48-dp.svg) no-repeat ; 
    width: 20px; 
    text-indent: 0.01px; 
    text-overflow: ""; 
    margin-bottom: -10px; 
  }
  
  .imggr{
    float: right;
    margin-top: 10px;
  }
  .imggr:hover{
    cursor: pointer;
  }
  
  .imguchav{
    float: left;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 40px;
    margin-right: 122px;
  }
  .search{
    width: 960px;
    height: 50px;
    margin: 40px 0;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 #bcc1c8;
    background-color: #ffffff;
  }
  .search_icon{
    width: 23px;
    height: 23px;
  }
  .search_white_48dp {
    width: 32px;
    height: 32px;
    margin: 9px 20px 9px -880px;
    object-fit: contain;
    cursor: pointer;
  }
  .search_input_div{
    width: 70px;
    height: 20px;
    margin: -10px 20px 9px -750px;
  }
  .search_input{
    width: 667px;
    height: 20px;
    font-family: AvenirNextCyr;
    font-size: 16px;
    color: #bcc1c8;
    border: 1px solid #ffffff;
  }
  .Three_Main{
    display: flex;
    flex-direction: column;
    width: 960px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 #bcc1c8;
    margin-bottom: 80px;
  }
  .fio{
    width: 920px;
    height: 62px;
    padding-left:  40px;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border-bottom: 1px solid #bcc1c8;
  }
  .foto{
    width: 46px;
    height: 22px;
    margin: 20px 124px 20px 10px;
    font-family: AvenirNextCyr;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #25282d;
  }
  .pib{
    width: 30px;
    height: 22px;
    margin: 20px 0 20px 0px;
    font-family: AvenirNextCyr;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #25282d;
  }
  .student_information{
    width: 960px;
    height: 62px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    border-bottom: 1px solid #bcc1c8;
  }
  .vertical_stripe{
    background-color: #ffffff;
    width:5px;
    height: 62px;
  }
  .student_information:hover .vertical_stripe{
    width: 5px;
    height: 62px;
    background-color: #e8b32e;
  }
  .student_information:hover{
    width: 960px;
    height: 62px;  
    background-color: #f4f5f6;
    display: flex;
    flex-direction: row;
  }
  .Avatar {
    width: 48px;
    height: 48px;
    margin: 7px 40px 7px 48px;
  }
  .pib_student{
    width: 300px;
    height: 22px;
    margin: 19px 360px 13px 80px;
    font-family: AvenirNextCyr;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #25282d;
    text-align: left;
  }
  .icon_student{
    width: 20px;
    height: 12px;
    margin: 10px 0px 18px 10px;
  }