.west_black_48dp {
  width: 22px;
  height: 22px;
  object-fit: contain;
  float: left;
}
.golova{
  margin:auto;
  width: 960px;
  height: 330px;
}
.restar{
  
  height: 22px;
  margin: 0 0 0 10px;
  font-size: 18px;
  color: orange;
}
.Name_background {
  width: 940px;
  height: 130px;
  margin: auto;
  border-radius: 5px;
  background-color: #749bd2;
  margin-top: 150px;
}
.text1{
  width: 438px;
  height: 50px;
 font-family: 'Ledger', serif;
  font-size: 36px;
  color: #ffffff;
  padding-left: 30px;
  margin-top: -110px;
}
.Pic_pupil_item {
  width: 450px;
  height: 167px;
  object-fit: contain;
  margin-left: 489px;
  margin-top: -38px;
}
.par1{
  float: left;
  margin-right: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 16px;
}
.parag{
  margin-left: 10px;
  margin-top: 98px;
}
.foto {
  width: 380px;
  height: 421px;
  margin-left: 10px;
  margin-top:40px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 #bcc1c8;
  background-color:#ffffff;
  float: left;
}
.foto_img {
  width: 380px;
  height: 421px;
  margin-left: 0px;
  margin-top:0px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 #bcc1c8;
  float: left;
}
.text2{ 
  width: 53px;
  height: 25px;
  font-family: AvenirNextCyr;
  font-size: 21px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #25282d;
  padding-top: 198px;
}
body{
  background-color: #f4f5f6;
}
.Rectangle_One {
  margin-top:40px;
  width: 540px;
  height: 127px;
  margin-left: 20px;
  float: right;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 #bcc1c8;
  background-color: #ffffff;
}
.Rectangle_Two {
  margin-left: 20px;
  width: 540px;
  height: 127px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 #bcc1c8;
  background-color: #ffffff;
  float: right;
}
.Rectangle_Three{
  width: 540px;
  height: 127px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 #bcc1c8;
  background-color: #ffffff;
  float: right;
}
.Rectangle_Five{
  width: 950px;
  height: 197px;
  margin-top: 20px;
  margin-left: -10px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 #bcc1c8;
  background-color: #ffffff;
  float: right;
  display: flex;
  flex-direction: row;
}
.Rectangle_Six{
  width: 460px;
  height: 197px;
  margin: 20px 10px 0 10px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 #bcc1c8;
  background-color: #ffffff;
  float: left;
}
.Rectangle_Seven{
  width: 460px;
  height: 197px;
  margin: 20px 10px 0 10px; 
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 #bcc1c8;
  background-color: #ffffff;
  float: left;
}
.self_improvement_black_48dp, .group_black_48dp, .school_black_48dp  {
  width: 77px;
  height: 77px;
  margin: 0 30px 0 0;
  object-fit: contain;
  margin:25px 30px;
  float: left;
}
.text_snippet_black_48dp  {
  width: 77px;
  height: 77px;
  margin: 8px 30px 5px 0;
  object-fit: contain;
  margin:60px 30px;
  float: left;
}
.date{
  width: 204px;
  height: 50px;
  display:flex;
  flex-direction: column;
}
.date_p{
  width: 153px;
  height: 22px;
  margin: 30px 0 15px 30px;
  font-family: AvenirNextCyr;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #40464f;
  float: left;
}
.date_name{
  width: 264px;
  height: 25px;
  margin: 2px 129px 5px 30px;
  Font-family: AvenirNextCyr;
  font-size: 21px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #25282d;
}
.email_name{
  width: 223px;
  margin: 30px 0 15px 30px;
  font-family: AvenirNextCyr;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #40464f;
  float: left;
  text-align: left;
}
.email_ex{
  width: 200px;
  height: 25px;
  margin: 2px 129px 5px 15px;
  font-family: AvenirNextCyr;
  font-size: 21px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #25282d;
  float: left;
  text-align: left;
}
.Favourite_course{ 
  width: 257px;
  height: 22px;
  margin: 30px 0 15px 30px;
  font-family: AvenirNextCyr;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #40464f;
  float: left;
}
.Favourite_name{  
  width: 220px;
  height: 25px;
  width: 230px;
  margin: 2px 129px 5px 30px;
  font-family: AvenirNextCyr;  
  font-size: 21px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #25282d;
  float: left;
}
.subject_education{
  width: 800px;
  height: 25px;
  margin: 35px 0 20px 30px;
  font-family: AvenirNextCyr;
  font-size: 21px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #25282d;
}
.subject_name{
  margin: 2px 129px 5px 30px;
  display: flex;
  flex-direction: column;
  width: 840px;
  height: auto;
  font-size: 21px;
}
.interesting_education{
    margin-top: 30px;
    font-family: AvenirNextCyr;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #40464f;
}
.interesting_name1{
    margin-top:15px ;
}
.interesting_name2{
    margin-top:20px ;
    margin-left: 137px;
    display: flex;
    flex-wrap: wrap;
    font-family: AvenirNextCyr;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #25282d;
}
.achievement_education{
    margin-top: 30px;
    font-family: AvenirNextCyr;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #40464f;
}
.achievement_name1{
    margin-top:15px ;
}
.achievement_name2{
    margin-top:10px ;
    font-family: AvenirNextCyr;
  font-size: 21px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #25282d;
}
.table{
  width: 300px;
  height: 95px;
  border: 1px solid black;
  margin: 20px 0 0 137px ;
  display: flex;
  flex-direction: row;
}
.td{
  width: 73px;
  height: 95px;
  border: 1px solid black;
}
.th{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 73px;
  height: 25px;
  border: 1px solid black;
}