.copy{
	font-size: 10px;
	color: #9aa2ac;
	margin-bottom: 15px;
}
footer{
	height: 110px;
	width: 101.3%;
	background-color: #40464f;

}
.imgfoot{
	margin-top: 20px;
}
html{
	overflow-x: hidden;
}
*{
	margin: 0;
}
body{
	background-color: #f4f5f6;
}