body{
  background-color: #f4f5f6;
}
  .zaggr{
  font-size: 36px;
  margin-top: 80px;
  margin-bottom: 40px;
  margin-left: -844px;
}
.inpgr{
  border: none;
  width: 868px;
  height: 50px;
  padding-left: 20px;
  margin-bottom: 51px;
  background-image: url(IMG/logo.png) no-repeat;
}
.inpgrkn{
  background: url(IMG/search-white-48-dp.svg) no-repeat 50% 50%;
  float: left;
  height: 32px;
  width: 42px;
  border: none;
  display: inline-block;
  margin-top: 9px; 
}
.inpgrkn:hover{
  cursor:pointer;
}
.divinpgr{
  width: 940px;
  height:52px;
  box-shadow: 0 1px 2px 0 #bcc1c8;
}
.parselgr{
  width: 204px;
  height: 18px;
  margin: 1px 20px 1px 0;
  font-family: AvenirNextCyr;
  font-size: 14px;
  color: #5c6470;
  float: right;
  margin-top: 11px;
  margin-right: -15px;
}
.selgr{
  border: 0 !important; 
  -webkit-appearance: none;
  -moz-appearance: none; 
  background: url(IMG/arrow-drop-down-white-48-dp.svg) no-repeat ; 
  width: 20px; 
  text-indent: 0.01px; 
  text-overflow: ""; 
  margin-bottom: -10px; 
}
.selgr:hover{
  cursor: pointer;
}
.divselgr{
  width: 940px;
  height: 40px;
  background-color: white;
  margin-top: 40px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 #bcc1c8;
}
.divgrtabl1{
  width: 940px;
  height: 62px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 #bcc1c8;
}
.divgrtabl2{
  padding: 10px 0 0;
  width: 940px;
  height: 62px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 #bcc1c8;
  display: inline-block;
}
.divgrtabl2:hover{
  background-color: #f4f5f6;
  cursor: pointer;
}
.divgrtabl2:hover .polos1 {
  display: inline-block;
}
.divgrtabl3{
  padding: 10px 0 0;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 #bcc1c8;
  width: 940px;
  height: 62px;
  display: inline-block;
}
.divgrtabl3:hover{
  background-color: #f4f5f6;
  cursor: pointer;
}
.divgrtabl3:hover .polos2 {
  display: inline-block;
}
.divgrtabl4{
  padding: 10px 0 0;
  width: 940px;
  height: 62px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 #bcc1c8;
  display: inline-block;
}
.divgrtabl4:hover{
  background-color: #f4f5f6;
  cursor: pointer;
}
.divgrtabl4:hover .polos3 {
  display: inline-block;
}
.divgrtabl5{
  width: 940px;
  height: 62px;
  padding: 10px 0 0;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 #bcc1c8;
   display: inline-block;
}
.divgrtabl5:hover{
  background-color: #f4f5f6;
  cursor: pointer;
}
.divgrtabl5:hover .polos4 {
  display: inline-block;
}
.divgrtabl6{
  width: 940px;
  height: 62px;
 padding: 10px 0 0;
 border-radius: 5px;
  box-shadow: 0 1px 2px 0 #bcc1c8; display: inline-block;
  margin-bottom: 236px;
}
.divgrtabl6:hover{
  cursor: pointer;
  background-color: #f4f5f6;
}
.divgrtabl6:hover .polos5 {
  display: inline-block;
}
.pargr1{
  float: left;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 40px;
  font-weight: bold;
}
.pargr2{
  float: left;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 175px;
  margin-right: 116px;
  font-weight: bold;
}
.pargr3{
  float: left;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 116px;
  font-weight: bold; 
}
.imggr{
  float: right;
}
.imggr:hover{
  cursor: pointer;
}
.pargr4{
  float: left;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 97px;
}
.pargr5{
  float: left;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 145px;
}
.pargr6{
  float: left;
  margin-bottom: 20px;
  margin-top: 20px;
}
.polos1{
  width: 5px;
  height: 72px;
  background-color: #e8b32e;
  display: inline-block;
  margin-top: -10px;
  margin-left: -1500px;
  display: none;
}
.polos2{
  width: 5px;
  height: 72px;
  background-color: #e8b32e;
  display: inline-block;
  margin-top: -10px;
  margin-left: -1500px;
  display: none;
}
.polos3{
  width: 5px;
  height: 72px;
  background-color: #e8b32e;
  display: inline-block;
  margin-top: -10px;
  display: none;
  margin-left: -1500px;
}
.polos4{
  width: 5px;
  height: 72px;
  background-color: #e8b32e;
  display: inline-block;
  margin-top: -10px;
  display: none;
  margin-left: -1500px;
}
.polos5{
  width: 5px;
  height: 72px;
  background-color: #e8b32e;
  display: inline-block;
  margin-top: -10px;
  display: none;
  margin-left: -1500px;
}
.pargrgl{
  text-align: center;
}

  